#info{
  
  background-color: rgba(243, 7, 7, 0.9);
  border-bottom: 3px solid rgba(17, 15, 15, 0.642);
  margin-bottom: 15px;
}

#searchbox{
  
  width: 50%;
  border-radius: 15px;
  border: 1px solid black;
  background-color: rgba(243, 7, 7, 0.9);
  padding: 7px;
  margin-bottom: 10px;
  box-shadow: 8px 8px rgba(192, 205, 236, 0.9);
}

#bottom{
  display: flex;
  border-radius: 15px;
  border-left: 30px solid red;
  border-right: 30px solid red;
  border-top: 5px solid red;
  border-bottom: 5px solid red;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 10px #000000;
}

#double-border{
  border: 5px solid black;
  border-radius: 25px;
  margin-top: 10px;
  box-shadow: 10px 10px rgba(192, 205, 236, 0.9) ;
}

#namebar{
  border: 1px solid black ;
  background-color: white;
  padding: 10px;
  margin-top: 2px;
}
#height{
  border-bottom: 3px dotted navy;
  padding-bottom: 10px;
}

#weight{
  padding-top: 10px;
}

.info{
  justify-content: right;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border: 3px solid black;
  margin: 3px solid black;
  width: 35%;
  box-shadow: 8px 8px rgba(192, 205, 236, 0.9);
}

#pokesearch{
  
}

span{
  color:rgb(255, 255, 255);
  font-family: 'Russo One', sans-serif;
  
}

body{
  background-image: url("http://www.allwhitebackground.com/images/7/Grid-Background-Free-Picture.png");
}

#pokeimage{
  width: 30%;
  padding: 25px;
  display: flex;
  border: 25px;
  justify-content: flex-start;
  /* margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #E8E8E8;  */
}

/* img{
  
} */