#info{
  height: 30px;
  background-color: rgba(243, 7, 7, 0.9);
  border-bottom: 3px solid rgba(17, 15, 15, 0.642);
  margin-bottom: 15px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
}

#alignright{
  display: flexbox;
  justify-content: space-between;
  position: absolute;
  right:5%; 
}



#searchbox{
  
  width: 90%;
  border-radius: 15px;
  border: 1px solid black;
  background-color: rgba(243, 7, 7, 0.9);
  padding: 7px;
  margin-bottom: 10px;
  box-shadow: 8px 8px rgba(192, 205, 236, 0.9);
  
}

#triangle{
  width:0;
  height:0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid white;
  margin-left: 5px;
}

.info{
  justify-content: right;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border: 3px solid black;
  margin: 3px solid black;
  width: 65%;
  box-shadow: 8px 8px rgba(192, 205, 236, 0.9);
  font-family: 'Anton', sans-serif;
  
}

#type{
  border-radius: 10px;
  background-color: rgba(95, 129, 206, 0.9);
  padding: 10px;
  border:3px solid black;
  width: 35%;
  height: 15%;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  text-align: center;
}

#type2{
  border-radius: 10px;
  background-color: rgba(224, 139, 226, 0.9);
  padding: 10px;
  border:3px solid black;
  width: 35%;
  height: 10%;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  text-align: center; 
  margin-left: 5px;
}

#both-type{
  display: flex;
  flex-direction: row;
}


#bottom{
  border-radius: 15px;
  border-left: 30px solid red;
  border-right: 30px solid red;
  border-top: 5px solid red;
  border-bottom: 5px solid red;
  padding: 45px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 10px #000000;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 900;
  font-size: 100%;
}

#double-border{
  border: 5px solid black;
  border-radius: 25px;
  margin-top: 10px;
  box-shadow: 10px 10px rgba(192, 205, 236, 0.9) ;
  position: absolute;
  bottom: 3%;
  width: 95%;
  
}

#namebar{
  border: 1px solid black ;
  background-color: white;
  padding: 10px;
  margin-top: 2px;
  border-radius: 5px;
  font-family: 'pocket_monkregular', sans-serif;
  text-align: center;
  font-size: 30px;
  color: rgb(248, 204, 71);
  -webkit-text-stroke: 2px rgb(63, 101, 169);
  /* https://www.codesdope.com/blog/article/adding-outline-to-text-using-css/ */
}

#height{
  border-bottom: 3px dotted navy;
  padding-bottom: 10px;
  color: rgba(243, 7, 7, 1);
  -webkit-text-stroke: 1px rgba(19, 18, 18, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
}

#weight{
  padding-top: 10px;
  color: rgba(243, 7, 7, 1);
  -webkit-text-stroke: 1px rgba(19, 18, 18, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
}


span{
  color:rgb(255, 255, 255);
  font-family: 'Russo One', sans-serif;
  padding-left: 5px;
  font-size: 20px;
}

body{
  background-image: url("https://s3.amazonaws.com/mk-website-media/wp-content/uploads/2018/10/19001752/Wallpaper-IngridMika-ContactGrid55-1.jpg");
 
}


#pokeimage{
  width: 25%;
  height: 25%;
  padding-left: 15%;
  margin-right: 0px;
}

#pokeimage_two{
  width: 15%;
  height: 15%;
  padding: 5px;
}

#pokesearch{
  border-radius: 5px;
  width:60%;
}

#images{
  display: flex;
  flex-direction: column;
}

button{
  width:33%;
  text-align: center;
  vertical-align: middle;  
}





@font-face {
  font-family: 'pocket_monkregular';
  src: url('fonts/pocketmonk-15ze-webfont.woff2') format('woff2'),
       url('fonts/pocketmonk-15ze-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}